<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Router</title>
    <link rel="stylesheet" type="text/css" href="{% static 'syleindex.css' %}">
</head>
<body>
<div class="background">
    <div class="row justify-context-center">
        <div class="col-x1-7 col-lg-9 text-center">
            <h1>Bus Router</h1>
            <h2>The best public bus planner</h2>
            <h3>We inform you on the real-time data of the bus from its location to the number of passengers on the bus
            We provide you with the precise real-time number of passengers and the most accurate estimated time of arrival to the nearest stationl!</h3>
        </div>
    </div>
</div>
<div class="box">
    <button onclick="myFunction()">Admin Login</button>
    function myFunction
        let admin = prompt("Name: ")
</div>
<div class="text-center">
    <a class="btn-get-started" href="lilist">
        Get Started !!!
    </a>
</div>

</body>
</html>